torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

slangtorch==1.2.6
dotenv
omegaconf
wandb
pillow_avif_plugin
plyfile
addict
iopath
scipy==1.11.4
imageio
torchmetrics
opencv-python
tqdm
transformers
einops
kornia
timm
torchlm
dreifus
tyro

git+https://github.com/nerfstudio-project/gsplat.git@v1.5.3
git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/NVlabs/nvdiffrast.git
git+https://github.com/rahul-goel/fused-ssim.git
git+https://github.com/mattloper/chumpy.git
git+https://github.com/FacePerceiver/facer.git@main